PORT=5000
JWT_SECRET=treasure_hunt_secret_key_2026
MONGODB_URI=mongodb+srv://sr5698379_db_user:FjZ27iQs3j6qmAMo@cluster0.bvr8u5q.mongodb.net/treasure_hunt?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=production
